<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title appTextoAzul> Partidos Politicos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let partido of partidos">
      <ion-label>{{partido.nome | formatarTextoMaiusculo}}</ion-label>
      <ion-label>{{partido.sigla | formatarTextoMinusculo}}</ion-label>
      <!-- <ion-button color="primary">membros partidos </ion-button> -->
      <app-button-go-to-link
        name="membros"
        icon="people"
        [idpartido]="partido.id"
      ></app-button-go-to-link>
    </ion-item>
  </ion-list>
</ion-content>

<ion-segment>
  <ion-segment-button
    value="anterior"
    (click)="anteriorPagina()"
    [disabled]="page === 1"
  >
    <ion-label>Anterior</ion-label>
  </ion-segment-button>
  <ion-segment-button
    value="proximo"
    (click)="proximaPagina()"
    [disabled]="!verificarPagina()"
  >
    <ion-label>Próximo</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
